{% extends 'jaguarete/layout.html' %}
{% block body %}
<div class="container py-5">
    <div class="row pb-5 justify-content-center">
        <h1>Sobre nosotros</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <p>Maecenas luctus neque vel turpis posuere, eget maximus nibh lacinia. Phasellus dignissim libero et dui fermentum, id volutpat felis elementum. Integer volutpat fringilla posuere. Proin vehicula sagittis lacus vitae pharetra. Curabitur consequat quam sem, porttitor eleifend orci laoreet eu. Ut a viverra urna, ac accumsan risus. Vivamus accumsan, nisl quis blandit viverra, ligula est gravida mi, sed fermentum nibh diam et tellus. Nam ac risus non magna congue consequat eu at metus. Praesent egestas nec metus eget viverra. Donec ut ex vitae lorem ultrices cursus. Aenean et risus at ligula scelerisque efficitur vitae ut augue. Praesent commodo neque sit amet ex volutpat elementum sit amet sed ante. Ut placerat ultricies consectetur.</p>
            <p>Nam quam risus, mollis nec tortor sit amet, vulputate finibus dui. Mauris vel lacus pharetra lacus lacinia mollis. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed in molestie eros. Proin blandit eu velit dapibus aliquam. Quisque vitae velit sed lectus interdum porta. Phasellus turpis dolor, interdum ac porta vitae, volutpat sit amet urna. Pellentesque eget facilisis tortor, hendrerit porttitor libero. Integer pretium non magna eget auctor. Morbi eros urna, fermentum quis eros non, sodales vehicula erat. Donec sem nulla, sodales a nisi a, suscipit ultricies elit.</p>
        </div>
    </div>
</div>
{% endblock %}