{% extends 'jaguarete/layout.html' %}
{% block body %}
<div class="container">
    <div class="row pt-5 justify-content-center">
        <h1>Categorías</h1>
    </div>
    <div class="row justify-content-center py-5">
        {% for category in categories %}
        <div class="col-12 d-flex pb-2 align-items-center product-link">
            <i class="fas fa-arrow-alt-circle-right mr-2"></i>
            <a href="{% url 'JAGUARETE:search_category' %}" class="">{{category.description}}</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}