{% extends 'jaguarete/layout.html' %}
{% block body %}
<div class="container">
    <div class="row pt-5 justify-content-center">
        <h1>Productos</h1>
    </div>
    <div class="row justify-content-center py-5">
        {% for product in latest_products %}
        <div class="col-md-4 d-flex flex-column align-items-center justify-content-center p-2 mb-5">
            <div class="card">
                <img src="{{ product.product_image.url }}" alt="product" class=" img-responsive">
                <div class="card-body">
                    <h5 class="card-title text-center">{{product.title}}</h5>
                    {% if user.is_superuser %}
                        <a href="{% url 'JAGUARETE:product_edit' product.id %}" class="btn btn-danger btn-block">Editar producto</a>
                    {% else %}
                        <a href="{% url 'JAGUARETE:product' product.id %}" class="btn btn-danger btn-block">Ver más</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-12">
            {% for product in products %}
            <div class="col-12 d-flex pb-2 align-items-center product-link">
                <i class="fas fa-arrow-alt-circle-right mr-2"></i>
                {% if user.is_superuser %}
                <a href="{% url 'JAGUARETE:product_edit' product.id %}" class="">{{product.title}}</a>
                {% else %}
                <a href="{% url 'JAGUARETE:product' product.id %}" class="">
                    {{product.title}}
                </a>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
