@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nanum+Gothic:wght@400;700&display=swap');
:root {
    --primary: #dc3545;
    --background: #fff;
}
body {
    background-color: var(--background);
    font-family: 'Nanum Gothic', sans-serif;
}
a {
    color: #000;
}
a:hover {
    color: var(--primary);
    text-decoration: none;
}
.product-link:hover {
    color: var(--primary);
    text-decoration: none;
}
.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 16px;
}
.footer p {
    font-size: 12px;
}
.footer .logo {
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.logo-footer img {
    width: 8vh;
}
.logo-footer p {
    font-weight: 700;
    font-size: 18px;
}
#new-product {
    height: 100vh;
}
